@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    background-color: hsl(225, 100%, 94%);
    background-image: url('../images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    color: hsl(224, 23%, 55%);
    font-size: 16px;
}


.card {
    border-radius: 25px 25px 20px 20px;
    background-color: white;
    width: 375px;
    height: 500px;
    margin: auto;
    box-shadow: 0px 5px 20px hsla(224, 23%, 55%, 0.412);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px 10px 10px;
}

h1 {
    color: hsl(223, 47%, 23%);
    font-size: 1.4em;
    font-weight: 900;
    margin: 20px 0px 20px 0px;
}

strong {
    color: hsl(223, 47%, 23%);
}

button {
    color: hsl(245, 75%, 52%);
}

#hero {
    border-radius: 21px 21px 0px 0px;
    width: 375px;
}

.payment {
    background-color: hsl(225, 100%, 98%);
    width: 300px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    text-align: center;
}

#pagar {
    background-color: hsl(245, 75%, 52%);
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    box-shadow: 1px 20px 20px hsl(225, 100%, 98%);
}

#mudar {
    color: hsl(245, 75%, 52%);
}

#cancel {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 700;
    font-size: 0.9em;
}
